body{
 background-color: darksalmon;                                                    
}
h1{
text-align: justify;
font-style: oblique;
font-size: xx-large
}

p{
color: crimson;
 text-align: justify;
 font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
 font-size: medium;
}